@import 'mixin';
@import 'hero-slider';


/**フォントファミリー**/
$font-main: '游ゴシック',
'Yu Mincho',
YuMincho,
'Hiragino Mincho Pro',
serif;


/**メディアクエリ**/
$tb: 1024px;
$mb: 559px;

@mixin tablet {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}


/**フォントサイズ**/
@mixin rem($size) {
  font-size: $size + px;
  font-size: ($size / 16) + rem;
}


/**リセットCSS**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: $font-main;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #0069ff;
}

ul {
  list-style: none;
}


/**ヘッダー**/
.header {
  padding-top: 20px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #000;
  z-index: 10;

  @include tablet() {
    padding: 60px 0;
  }

  @include mobile() {
    padding: 30px 0;
  }

  &__hm-btn {
    display: none;
    margin: 15px;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    cursor: pointer;

    @include tablet() {
      display: block;
    }

    div {
      height: 1px;
      width: 30px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .3s;
    }
  }

  &__hm-btn div:nth-of-type(1) {
    transform: translate(-50%, -15px);
  }

  &__hm-btn div:nth-of-type(3) {
    transform: translate(-50%, 15px);
  }

  &__hm-btn.active div:nth-of-type(1) {
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }

  &__hm-btn.active div:nth-of-type(2) {
    opacity: 0;
  }

  &__hm-btn.active div:nth-of-type(3) {
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }

  &__hm-menu {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 3px solid #efefef;
    background-color: #fff;
    width: 250px;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: inherit;
    flex-direction: column;
  }

  &__hm-list {
    padding: 20px;
  }

  &__hm-item {
    @include rem(20);
    font-weight: bold;
    border-bottom: 1px solid #000;
  }

  &__hm-icons {
    display: flex;
  }

  &__hm-icon {
    @include rem(40);
    margin-right: 20px;
  }

  &__hm-link {
    display: block;
    padding: 25px;
    color: #000;
    text-decoration: none;
    transition: .3s;
  }

  &__hm-link:hover {
    color: rgba($color: #000000, $alpha: 0.5)
  }

  &__hm-menu.active {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  &__name {
    @include rem(20);
    font-weight: bold;
  }

  &__nav-wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    @include tablet() {
      display: none;
    }
  }

  &__nav-left {
    display: flex;
    gap: 50px;
  }

  &__nav-right {
    display: flex;
    gap: 50px;
  }

  &__nav-item {
    @include rem(25);
    font-weight: bold;
  }

  &__nav-link {
    color: #000;
    text-decoration: none;
    transition: .3s;
  }

  &__nav-link:hover {
    color: rgba($color: #000000, $alpha: 0.5)
  }
}


/**twitter**/
.twitter {
  color: #00aced;
  transition: .3s;
}

.twitter:hover {
  color: rgba($color: #00aced, $alpha: 0.5);
}


/**facebook**/
.facebook {
  color: #305097;
  transition: .3s;
}

.facebook:hover {
  color: rgba($color: #305097, $alpha: 0.5);
}


/**ボタン**/
.btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #000;
  @include rem(20);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}


/**mv**/
.jumbotron {
  height: 100vh;
  background-color: #fff;

  &__inner {
    position: relative;
    max-width: 1230px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px;
    @include rem(40);
    color: #000;
    text-shadow: 5px 5px 15px #fff;

    @include mobile() {
      top: 30%;
      @include rem(25);
    }
  }

  &__btn {
    display: none;
    position: absolute;
    bottom: 20%;
    right: 5%;

    @include tablet() {
      display: inline-block;
    }

    @include mobile() {
      width: 150px;
    }
  }

}


/**cap**/
.cap {
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  background-color: #000;
  padding: 15px 0;

  &__title {
    color: #fff;
    text-align: center;
  }
}


/**wrapper**/
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}


/**about**/
.about {
  background-color: #fff;

  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__body {
    display: flex;
    border: 2px solid #000;

    @include mobile() {
      display: block;
      border: none;
    }
  }

  &__col2 {
    width: 50%;
    padding: 20px;

    @include mobile() {
      width: 100%;
    }
  }

  &__name {
    margin-bottom: 20px;
  }

  &__job {
    color: #444444;
    margin-bottom: 30px;
  }

  &__img-wrapper {
    width: 200px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    border: 10px solid #fff;
  }

  &__img {
    width: 100%;
  }

  &__text {
    font-weight: bold;
    line-height: 2.5em;
  }

  &__list {
    display: flex;
    align-items: baseline;
    gap: 30px;
    margin-bottom: 20px;

    @include mobile() {
      margin-bottom: 50px;
    }
  }

  &__item {
    @include rem(20);
    color: #444444;
    font-weight: bold;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__detail {
    font-weight: bold;
    line-height: 2.5em;
  }

  &__col2-mg-right {
    margin-right: 5%;

    @include mobile() {
      margin-right: 0;
    }
  }

  &__list:last-child {
    margin-bottom: 0;
  }

}


/**works**/
.works {
  background-color: #fff;

  &__global-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__swiper-slide {
    cursor: pointer;
  }

  &__hero-title {
    @include rem(30);
  }

  &__img {
    background-color: #fff;
  }

  &__hero-scrolltext {
    color: #fff;
  }

  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__card {
    padding: 15px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    border: 2px solid #000;

    @include mobile() {
      flex-direction: column-reverse;
      border: none;
    }
  }

  &__card-left {
    display: flex;
    flex: 0 1 50%;
    margin-right: 5%;
    flex-direction: column;

    @include mobile() {
      margin-right: 0;
    }
  }

  &__card-title {
    @include rem(30);
  }

  &__card-sub-title {
    color: rgba($color: #000000, $alpha: 0.8);
    margin-bottom: 30px;
  }

  &__card-text {
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 2.5rem;
  }

  &__card-link-wrapper {
    text-align: center;
  }

  &__card-link {
    @include rem(16);
    font-weight: bold;
    transition: .3s;
  }

  &__card-link:hover {
    opacity: 0.7;
  }

  &__card-img-wrapper {
    flex: 1;

    @include mobile() {
      margin-bottom: 20px;
    }
  }

  &__card-img {
    width: 100%;
  }

  &__card-reverse {
    flex-direction: row-reverse;
    align-items: start;
    margin-bottom: 0;

    @include mobile() {
      flex-direction: column-reverse;
    }
  }

  &__card-reverse .works__card-left {
    margin-right: 0;
  }

  &__card-reverse .works__card-sub-title {
    margin-bottom: 20%;

    @include mobile() {
      margin-bottom: 30px;
    }
  }

  &__card-reverse .works__card-text {
    margin-bottom: 0;
  }

  &__card-reverse .works__card-img-wrapper {
    margin-right: 5%;

    @include mobile() {
      margin-right: 0;
    }
  }

}


/**skill**/
.skill {
  background-color: #fff;


  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__card-col2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile() {
      display: block;
    }
  }

  &__card {
    width: 48%;
    padding: 20px;
    margin-bottom: 60px;
    border: 3px solid #000;

    @include mobile() {
      width: 100%;
      border: none;
      border-bottom: 2px solid #000;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__icon {
    @include rem(40);
    margin-right: 5%;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include rem(20);
  }

  &__stars {
    @include rem(16);
  }

  &__stars-black {
    color: #000;
  }

  &__stars-silver {
    color: silver;
  }

  &__text {
    @include rem(16);
    font-weight: bold;
    line-height: 2rem;
  }

  &__card-no-margin {
    margin-bottom: 0;
  }

}

/**contact**/
.contact {
  background-color: #fff;

  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__cta-area {
    padding: 30px;
    border: 2px solid #000;
    margin-bottom: 60px;
    text-align: center;

    @include mobile() {
      border: none;
      background-color: #ebebeb;
    }
  }

  &__cta-title {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &__cta-text {
    font-weight: bold;
  }

  &__list {
    width: 70%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #000;

    @include mobile() {
      width: 100%;
      padding: 20px;
      border: none;
    }
  }

  &__item {
    @include rem(20);
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  &__item input {
    padding: 10px;
    margin-bottom: 20px;
  }

  &__item textarea {
    padding: 10px;
    line-height: 2em;
    resize: vertical;
    margin-bottom: 30px;
  }

  &__item-button {
    align-items: center;
  }

  &__btn {
    cursor: pointer;
    position: relative;
  }

  &__btn:active {
    top: 1px;
  }

  &__error {
    color: red;
    margin-bottom: 20px;
  }

}


/**footer**/
.footer {
  border-top: 2px solid #000;
  background-color: #fff;

  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__inner {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  &__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__nav-left {
    display: flex;
  }

  &__nav-item {
    @include rem(20);
    margin: 10px;
    text-decoration: none;
  }

  &__nav-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
  }

  &__nav-link:hover {
    color: rgba($color: #000, $alpha: 0.5);
  }

  &__nav-right {
    display: flex;
  }

  & .twitter {
    font-weight: bold;
  }

  & .facebook {
    font-weight: bold;
  }

  &__copyright {
    display: block;
    margin: 40px 0;
    text-align: center;
    color: #fff;
  }
}


/**modal**/
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  &__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;

  }

  &__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  &__img-wrapper {
    height: 20em;
    overflow-y: scroll;
  }

  &__btn {
    width: 150px;
    padding: 5px;
    margin-top: 20px;
  }
}


/**confirm**/
.confirm {
  background-color: #fff;

  &__body {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid #000;
    background-color: #ebebeb;

    @include mobile() {
      border: none;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }

  &__list-contact {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__item {
    font-weight: bold;
    @include rem(12);
  }

  &__item-contact {
    text-align: center;
    font-weight: bold;
    @include rem(20);
    margin-bottom: 20px;
  }

  &__item-mb-none {
    @include mobile() {
      display: none;
    }
  }

  &__detail {
    font-weight: bold;
    margin-left: 2%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__buttons > *:last-child {
    margin-right: 0;
  }

  &__btn {
    padding: 5px;
    width: 120px;
    margin-right: 5%;
    cursor: pointer;
    @include rem(16);
  }
}


/**thanks**/
.thanks {
  &__body {
    text-align: center;
    width: 500px;
    max-width: 100%;
    padding: 30px;
    background-color: #ebebeb;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__btn {
    text-align: center;
    @include rem(12);
    width: 100px;
    padding: 5px;
  }
}


/**js-animation**/
.js-fadein {
  opacity: 0; 
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}

.js-fadein.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}